body {
  font-family: Arial, sans-serif;
  background-color: #4caf50;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.groupWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: inherit;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 250px;
  margin: 20px;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
}

h2 {
  margin: 0;
  text-align: center;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconWrapper {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.deleteIcon {
  cursor: pointer;
  color: #ff6666;
  font-size: 18px;
  transition: color 0.3s;
}

.deleteIcon:hover {
  color: #ff0000;
}

.card-enter {
  opacity: 0;
  transform: scale(0.9);
}

.card-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.card-exit {
  opacity: 1;
  transform: scale(1);
}

.card-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

/* Header CSS */
.header {
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
}

.header button {
  background-color: #ff9800;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}

.header button:hover {
  background-color: #e68a00;
  transform: translateY(-2px);
}

.header button:active {
  transform: translateY(0);
}

.header button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 152, 0, 0.4);
}
